.impressum-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .impressum-container h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .impressum-container p {
    margin-bottom: 10px;
  }
  